#Banner {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 500px;
  background: url("../../../public/img/section02/Group\ 22.png") no-repeat
    center/cover fixed;
  background-position: center 10%;
  display: flex;
  align-items: center;

  .inner {
    width: 1460px;
    margin: 0 auto;

    h3.subtitle {
      color: #d70d25;
      margin-bottom: 14px;
    }

    h1.title {
      font: 62px/1 "genesys";
      color: #fff;
      margin-bottom: 14px;
    }

    p {
      color: rgb(175, 175, 175);
      margin-bottom: 36px;
      line-height: 1.6;
    }

    > a {
      color: #fff;
    }
  }
}
